<div ng-controller="allpostsctrl" id="page-wrapper" >


      <div class="row">
        <div class="col-lg-12 text-center">
            <div class="panel panel-default">

                <h1>All Posts
                </h1>

                <div class="table-responsive" >
                    <table class="table table-bordered table-hover tablesorter">
                        <tbody>

<tr ng-repeat="post in allPosts" ><td>
    <b>{{ post.subject }}</b>
    <br/>
    Author: {{ post.author }}
    <br/>
    Editor: {{ post.editor }}
    <br/>
    Summary: {{ post.summary }}
    <br/>
    <button ng-click="goToPostView(post.postid);" id="myResetButton" class="btn btn-primary btn-lg" role="button">Details</button>
</td></tr>
                        </tbody>
                    </table>
                </div>
               





                <!--panel-body-->
            </div>
            <!--panel panel-default-->
        </div>
        <!--col-lg-12-->

    </div>
    <!-- /.row -->



</div>
<!-- /#page-wrapper -->
