        <div ng-controller="createpostctrl" id="page-wrapper">
		          <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="panel panel-default">
				
                        <div  class="panel-body">
                       <div class="table-responsive">

                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th colspan="2">Input Valid non html content</th>
                                    </tr>
                                    </thead>

                                    <tr class="form-group">
                                        <td class="control-label">Title:&nbsp;</td>
                                        <td>
                                            <input   required name="title" value=""
                                                   type="text" id="title" class="form-control" maxlength="200"
                                                   placeholder="Title"/></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr class="form-group">
                                        <td class="control-label">Summary:&nbsp;</td>
                                        <td>
                                            <input required name="description" value=""
                                                   type="text" id="description" class="form-control" maxlength="255"
                                                   placeholder="Summary"/></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr class="form-group">
                                        <td class="control-label">Content:&nbsp;</td>
                                        <td>
                                            <textarea rows="4"  required name="content" value=""
                                                    id="content" class="form-control" maxlength="2000"
                                                  /></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    
                                    <tr>
                                
                                        <td colspan="2">
                                            <button  ng-click="CreatePostObject.callTheMagic();" id="submitButton" class="btn btn-primary btn-lg" role="button">Submit</button>
                                        </td>
                                    </tr>
                                </table>
								</div>

                        </div> <!--panel-body-->
                    </div><!--panel panel-default-->
                </div><!--col-lg-12-->

            </div><!-- /.row -->

        </div><!-- /#page-wrapper -->
  