<div  id="page-wrapper" >

    <b>How to make a user admin:</b>
<br/>
  Register any user in the deployed version of your application, and in the DB mark isadmin to 1 for that user in users table.
      <br/>    <br/>    <br/>    <br/>    <br/>



    <b>Important:</b>
<br/> 
1.  Admin can  do view edit and delete to all posts. He can also create new post. <br/> 
2. Non admin user can view all posts. He can edit and delete his own post. He can create new post.<br/> 
3. Anonymous  user can view all posts , he can not do create edit or delete. 

        <br/> <br/> <br/> <br/>
 <b>Known issues:</b>
    <br/> 
1. In the post title description and body only a-z, A-Z, 0-9, . and space are allowed.<br/>
    2. If user is on one post, to navigate to next post, he must click all posts tab and go to the desired post.<br/>
    3. Password is not encrypted in DB.<br/>
    4. Password is visible on register page unlike login page.<br/>
    5. In firstname, lastname and password only a-z, A-Z, 0-9 allowed.<br/>
    6. Password length is 5 to 50 characters.<br/>
    7. Email is standard 254 characters.<br/>
    8. Firstname and last name are 3 to 100 characters<br/>
    9. Register doesn't implement  captcha like the <a href="http://www.sharepoint.asia/2016/04/a-simple-php-mysql-example.html" >first project</a>.
    <br/> <br/> <br/> <br/> 

 <b>Highlights:</b>
    <br/> 
1. When user login, only then links like create post are available. Otherwise he gets register link instead of create post.<br/> 
2. Angular is used to achieve single page structure.<br/> 
     <br/> <br/> <br/> <br/> 

 <b>Code avilable at:</b>
    <br/> 
    <a href="https://bitbucket.org/hemantup/project2" >Project2</a>

</div>
<!-- /#page-wrapper -->
