        <div ng-controller="loginctrl" id="page-wrapper">
		          <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="panel panel-default">
				
                        <div  class="panel-body">
                       <div class="table-responsive">

                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th colspan="2">Input Valid email and password</th>
                                    </tr>
                                    </thead>

                                    <tr class="form-group">
                                        <td class="control-label">Email:&nbsp;</td>
                                        <td>
                                            <input required name="emailaddress" value=""
                                                   type="text" id="emailaddress" class="form-control" maxlength="254"
                                                   placeholder="Email Address"/></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr class="form-group">
                                        <td class="control-label">Password:&nbsp;</td>
                                        <td>
                                            <input required name="password" value=""
                                                   type="password" id="password" class="form-control" maxlength="50"
                                                   placeholder="Password"/></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    
                                    <tr>
                                
                                        <td colspan="2">
                                            <button  ng-click="loginObject.callTheMagic();" id="submitButton" class="btn btn-primary btn-lg" role="button">Submit</button>
                                        </td>
                                    </tr>
                                </table>
								</div>

                        </div> <!--panel-body-->
                    </div><!--panel panel-default-->
                </div><!--col-lg-12-->

            </div><!-- /.row -->

        </div><!-- /#page-wrapper -->
  