        <div ng-controller="registerctrl" id="page-wrapper">
		          <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="panel panel-default">
				
                        <div  class="panel-body">
                       <div class="table-responsive">

                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th colspan="2">Input Valid email. First name , last names and password</th><br/>
                                   
                                    </tr>
                                    </thead>

                                    <tr class="form-group">
                                        <td class="control-label">Email:&nbsp;</td>
                                        <td>
                                            <input required name="emailaddress" value=""
                                                   type="text" id="emailaddress" class="form-control" maxlength="254"
                                                   placeholder="Email Address ( 254 characters max valid email)"/></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr class="form-group">
                                        <td class="control-label">First Name:&nbsp;</td>
                                        <td>
                                            <input required name="firstname" value=""
                                                   type="text" id="firstname" class="form-control" maxlength="100"
                                                   placeholder="First Name (length min 3, max 100) allows a-z,A-Z and 0-9"/></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr class="form-group">
                                        <td class="control-label">Last Name:&nbsp;</td>
                                        <td>
                                            <input required name="lastname" value=""
                                                   type="text" id="lastname" class="form-control" maxlength="100"
                                                   placeholder="Last Name  (length min 3, max 100) allows a-z,A-Z and 0-9"/></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr class="form-group">
                                        <td class="control-label">Password:&nbsp;</td>
                                        <td>
                                            <input required name="pwd" value=""
                                                   type="pwd" id="pwd" class="form-control" maxlength="50"
                                                   placeholder="Password (length min 5, max 50) allows a-z,A-Z and 0-9"/></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    
                                    <tr>
                                
                                        <td colspan="2">
                                            <button  ng-click="registerObject.callTheMagic();" id="submitButton" class="btn btn-primary btn-lg" role="button">Submit</button>
                                        </td>
                                    </tr>
                                </table>
								</div>

                        </div> <!--panel-body-->
                    </div><!--panel panel-default-->
                </div><!--col-lg-12-->

            </div><!-- /.row -->

        </div><!-- /#page-wrapper -->
  