        <div ng-controller="searchip" id="page-wrapper">
		          <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="panel panel-default">
				
                        <div  class="panel-body">
                       <div class="table-responsive">

                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th colspan="2">Input Valid IP or Domain Name</th>
                                    </tr>
                                    </thead>

                                    <tr class="form-group">
                                        <td class="control-label">Domain or IP:&nbsp;</td>
                                        <td>
                                            <input required name="domin_ip" value=""
                                                   type="text" id="domin_ip" class="form-control" maxlength="100"
                                                   placeholder="Domain or IP"/></td>
                                    </tr>
                                    <tr>
                                        <td>&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    
                                    <tr>
                                
                                        <td colspan="2">
                                            <button  ng-click="searchip.callTheMagic();" id="submitButton" class="btn btn-primary btn-lg" role="button">Submit</button>
                                        </td>
                                    </tr>
                                </table>
								</div>

                        </div> <!--panel-body-->
                    </div><!--panel panel-default-->
                </div><!--col-lg-12-->

            </div><!-- /.row -->
            <div ng-show="searchip.queryExecuted"  class="row">
                <div class="col-lg-12 text-center">
                    <div class="panel panel-default">
				
                        <div  class="panel-body">
                            <h1>Results</h1><br />
                            <iframe id="gppgle2" ng-show='modelData.status == "success"' width="100%" frameborder="0" scrolling="no" marginwidth="0" marginheight="0" src=""></iframe>                           
                            <div class="table-responsive" >
                                <table id="successTable" ng-show='modelData.status == "success"'  class="table table-bordered table-hover tablesorter">
                                    <tbody>
                                        <tr><td>IP</td><td><span ng-bind="modelData.query"></span></td></tr>
                                        <tr><td>country code</td><td><span ng-bind="modelData.countryCode"></span></td></tr>
                                        <tr><td>Country</td><td><span ng-bind="modelData.country"></span></td></tr>
                                        <tr><td>region code</td><td><span ng-bind="modelData.region"></span></td></tr>
                                        <tr><td>Region</td><td><span ng-bind="modelData.regionName"></span></td></tr>
                                        <tr><td>City</td><td><span ng-bind="modelData.city"></span></td></tr>
                                        <tr><td>Zip code</td><td><span ng-bind="modelData.zip"></span></td></tr>
                                        <tr><td>Latitude</td><td><span ng-bind="modelData.lat"></span></td></tr>
                                        <tr><td>Longitude</td><td><span ng-bind="modelData.lon"></span></td></tr>
                                        <tr><td>Time Zone</td><td><span ng-bind="modelData.timezone"></span></td></tr>
                                        <tr><td>isp</td><td><span ng-bind="modelData.isp"></span></td></tr>
                                        <tr><td>org</td><td><span ng-bind="modelData.org"></span></td></tr>
                                        <tr><td>as</td><td><span ng-bind="modelData.as"></span></td></tr>
                                    </tbody>
                                </table>
								
								   <table id="errormessage" ng-show='modelData.status == "fail"'  class="table table-bordered table-hover tablesorter">
                                    <tbody>
                                        <tr><td>IP/Domain Requested</td><td><span ng-bind="modelData.query"></span></td></tr>
                                        <tr><td>Message</td><td><span ng-bind="modelData.message"></span></td></tr>                                      
                                    </tbody>
                                </table>
							
                                 <div>
                                
                                            <button  ng-click="searchip.queryExecuted = false;" id="Button1" class="btn btn-primary btn-lg" role="button">Reset</button>
                                       
                                    </div>
                            </div>

                        </div> <!--panel-body-->
                    </div><!--panel panel-default-->
                </div><!--col-lg-12-->

            </div><!-- /.row -->

        </div><!-- /#page-wrapper -->
  