<div ng-controller="viewpostctrl" id="page-wrapper" >


      <div class="row">
        <div class="col-lg-12 text-center">
            <div class="panel panel-default">

                <h1>{{ currentPost.subject }}
                </h1>
                <b>Summary:</b><br/>
                <p>{{ currentPost.summary }}</p>
                <b>Content:</b><br/>
                <p style=" word-wrap: break-word;">{{ currentPost.content }}</p>
                <br/>
                <b> Author:</b> {{ currentPost.author }},  <b> Editor:</b> {{ currentPost.editor }}
                <br/>
                <b>Last Modified On:</b> {{ currentPost.modified }},  <b>Created  On:</b> {{ currentPost.created }}

                <br/>

                <button ng-show="currentPost.currentUserCanUD"  ng-click="ViewPostObject.callEdit();" id="editButton" class="btn btn-primary btn-lg" role="button">Edit</button>
<br/>
                <br/>
                <button ng-show="currentPost.currentUserCanUD"  ng-click="ViewPostObject.callDelete();" id="delButton" class="btn btn-primary btn-sm btn-danger" role="button">Delete</button>


            </div>
               





                <!--panel-body-->
            </div>
            <!--panel panel-default-->
        </div>
        <!--col-lg-12-->

    </div>
    <!-- /.row -->



</div>
<!-- /#page-wrapper -->
